<div class="heap-start">
  <h3><strong>Welcome!</strong> Here’s how to get started</h3>
  <p>Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.</p>

  <div class="box upload-box th-left">
  	<span class="icon"></span>
  	<h4>Upload your files</h4>
  	<p>Vestibulum id ligula porta felis euismod semper.</p>

  	<form action="#" method="post">
  		<span class="th-button th-round-20">
				Upload Now 
				<input ng-file-select type="file" name="file_0" accept="image/png, image/jpeg, application/pdf" multiple />
  		</span>
  	</form>
  </div>
  
  <div class="box connect-box th-right">
  	<span class="icon"></span>
  	<h4>Add connection</h4>
  	<p>Vestibulum id ligula porta felis euismod semper.</p>

  	<a href="/connections" class="th-button th-round-20 add-button">Add Connection</a>
  </div>
</div>